@charset "UTF-8";
.reviews__item img,
.why__img img,
iframe {
  width: 100%;
}
.countdown,
.forget__img,
.forget__item,
.form__title,
.how_use__title,
.how_wrapper2 .how_use_img,
.how_wrapper3 .how_use_img,
.owl-dots,
.path,
.title,
.title_timer,
.zakaz__img,
.zakaz_item_title {
  text-align: center;
}
a,
a:focus,
a:hover,
button {
  color: #fff ;
  text-decoration: none ;
}
.header_list ul li,
.title span {
  color: #fff;
  font-family: RobotoBold;
}
button:focus,
input:focus {
  outline: 0 !important;
}
body {
  background: url(bg.jpg) center top no-repeat;
}
footer,
header {
  background: url(header_bg.png) center top no-repeat;
  padding: 40px 0 60px;
}
footer {
  padding: 40px 0 50px;
  position: relative;
}
.title span {
  text-transform: uppercase;
  display: block;
  font-size: 36px;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
.header_list {
  margin-top: 295px;
  margin-bottom: 60px;
}
.forget,
.new_price_cur {
  margin-top: 20px;
}
.header_list ul {
  list-style-type: none;
  padding-left: 0;
}
.header_list ul li {
  background: url(list_img.png) left 6px no-repeat;
  font-size: 24px;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 30px;
}
.new_price_cur,
.new_price_val,
.old_price_cur,
.old_price_val,
.price__old {
  float: left;
}
.price__old .title_price {
  font-family: RobotoMedium;
  font-size: 18px;
}
.price__old {
  color: #7b7b9c;
  font-family: RobotoBold;
  font-size: 24px;
}
.price__new .title_price {
  font-family: RobotoBold;
  font-size: 18px;
}
.old_price_val {
  text-decoration: line-through;
}
.price__new {
  color: #fff;
  padding: 0 25px;
  font-family: RobotoBlack;
  font-size: 36px;
  float: right;
  margin-right: 30px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #ea1c42;
  -webkit-box-shadow: 0 0 5px 5px #411c32;
  box-shadow: 0 0 5px 5px #411c32;
}
.new_price_cur,
.price__new span,
.price__old span {
  font-size: 18px;
}
.btn_submit button {
  text-transform: uppercase;
  font-family: OpenSansSemiBold;
  font-size: 24px;
  background-color: #f41113;
  padding: 23px 37px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 5px 5px #411c32;
  box-shadow: 0 0 5px 5px #411c32;
  border: none;
  color:#fff;
}
.forget__text,
.video__text {
  font-size: 72px;
  text-transform: uppercase;
  color: #fff;
}
.btn_submit button:hover,
.form__btn:hover {
  -webkit-box-shadow: 0 0 5px 5px #411c5b;
  box-shadow: 0 0 5px 5px #411c5b;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.product {
  position: absolute;
  top: -290px;
  right: -40px;
}
.video {
  padding-top: 25px;
}
.video__text {
  font-family: RobotoRegular;
  line-height: 80px;
}
.video__text strong {
  font-family: RobotoBlack;
}
.video__text span {
  background-color: #631935;
  padding: 0 15px;
}
.video__img {
  position: absolute;
  left: 60px;
  top: 155px;
}
.forget__text,
.how_use__wrapper {
  position: relative;
}
iframe {
  height: 312px;
}
.forget {
  background: url(forget_bg.png) center top no-repeat;
  padding: 140px 0 95px;
}
.forget__text {
  font-family: RobotoMedium;
  line-height: 65px;
  bottom: 40px;
}
.forget_wrapper {
  background: #661e3a;
  font-size: 48px;
  padding: 0 10px;
}
.forget__text .span1 {
  font-size: 36px;
}
.forget__text .span2 {
  font-size: 48px;
  display: block;
  line-height: 40px;
}
.forget p {
  color: #fff;
  font-size: 18px;
  font-family: RobotoRegular;
  padding-right: 60px;
  margin-top: 30px;
}
.forget p span,
.forget__text2 {
  font-family: RobotoBold;
}
.forget__text2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 75px;
  margin-top: 50px;
}
.forget__text2 span,
.item__text,
.why__text {
  font-family: RobotoMedium;
}
.forget__text2 span {
  font-size: 48px;
}
.forget__item {
  margin-top: 65px;
}
.item__text {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 15px;
}
.why__text {
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  line-height: 60px;
}
.why__item span,
.why__text span {
  display: block;
  font-family: RobotoBold;
}
.why__text span {
  font-size: 60px;
}
.why__item {
  color: #fff;
  margin: 30px 0;
}
.why__item span {
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0 5px;
}
.why__item p {
  font-size: 18px;
  font-family: RobotoRegular;
}
.why__item img {
  height: 50px;
}
.how_use {
  background: url(how_use.png) center top no-repeat;
  margin-top: 77px;
  padding-top: 50px;
}
.how_use__title {
  color: #fff;
  text-transform: uppercase;
  font-family: RobotoMedium;
  font-size: 48px;
}
.path {
  position: absolute;
  left: 100px;
}
.how_use__text {
  color: #fff;
}
.how_use__text span {
  font-size: 36px;
  font-family: RobotoBold;
  margin-right: 10px;
}
.how_use__text p {
  font-size: 18px;
  font-family: RobotoRegular;
  margin-bottom: 25px;
}
.how_wrapper1 {
  position: relative;
  top: 50px;
}
.how_wrapper2 {
  position: relative;
  top: 85px;
}
.how_wrapper2 .how_use__text,
.how_wrapper3 .how_use__text {
  padding-left: 45px;
}
.how_wrapper3 {
  position: relative;
  top: 100px;
}
.how_wrapper3 .how_use__text {
  margin-top: 50px;
}
.reviews__title {
  color: #fff;
  text-transform: uppercase;
  font-family: RobotoMedium;
  font-size: 30px;
  line-height: 55px;
}
.reviews__text span,
.reviews__title span {
  font-family: RobotoBold;
  display: block;
}
.reviews__title span {
  font-size: 72px;
}
.reviews {
  margin-top: 120px;
}
.reviews__img {
  position: relative;
  bottom: 60px;
}
.reviews__text {
  background-color: #fff;
  padding: 15px;
  height: 300px;
}
.reviews__text span {
  font-size: 24px;
  margin-bottom: 25px;
}
.reviews__text p {
  font-family: RobotoMedium;
  font-size: 18px;
}
.zakaz__title,
.zakaz_item_title span {
  text-transform: uppercase;
  font-family: RobotoBold;
}
.reviews__wrapper {
  position: relative;
  bottom: 45px;
}
.zakaz__title {
  text-align: center;
  color: #fff;
  font-size: 48px;
  margin-bottom: 70px;
}
.zakaz_item_title {
  color: #fff;
}
.zakaz_item_title span {
  font-size: 18px;
  display: block;
  margin: 10px 0;
}
.zakaz_item_title p {
  font-family: RobotoMedium;
  font-size: 16px;
  padding: 0 4px;
}
.zakaz__wrapper {
  background: url(zakaz_img.png) no-repeat;
}
.zakaz {
  padding-bottom: 58px;
}
.links a {
  display: block;
}
.countdown__item,
.form,
.owl-dot,
.timer {
  display: inline-block;
}
.footer__bottom {
  position: absolute;
  bottom: -30px;
  color: #fff;
  font-size: 12px;
  font-family: RobotoRegular;
}
.form__popup {
  color: #fff;
  background: url(popup_bg.jpg) no-repeat;
  width: auto;
  max-width: 834px;
  margin: 20px auto;
  position: relative;
}
.form__btn,
.form__input {
  width: 100%;
  text-transform: uppercase;
  color: #000;
}
.form {
  padding: 25px 45px 40px;
}
.form__title {
  text-transform: uppercase;
  font-family: RobotoBold;
  font-size: 38px;
}
.form__input {
  padding: 15px 0 15px 15px;
  font-family: RobotoMedium;
  font-size: 18px;
}
.form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
}
.form__item {
  margin-top: 23px;
}
.form__btn {
  font-family: OpenSansSemiBold;
  background-color: #f41113;
  border: none;
  color:#fff;
  font-size: 24px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  padding: 22px 0;
  -webkit-box-shadow: 0 0 5px 5px #411c32;
  box-shadow: 0 0 5px 5px #411c32;
}
.timer {
  position: absolute;
  padding-top: 30px;
}
.title_timer {
  text-transform: uppercase;
  font-family: RobotoBold;
  font-size: 21px;
}
.countdown {
  color: #fff;
  font-family: CenturyGothicBold;
  font-size: 72px;
}
.hour:before,
.minute:before,
.second:before {
  bottom: 0;
  font-size: 14px;
  left: 20px;
}
.countdown__item {
  position: relative;
  margin: 0 15px;
}
.hour:before,
.minute:before,
.popup_img,
.second:before {
  position: absolute;
}
.hour:before {
  content: "часов";
}
.minute:before {
  content: "минут";
}
.second:before {
  content: "секунд";
}
.hour:after,
.minute:after {
  content: ":";
  position: absolute;
  right: -24px;
}
.popup_img {
  bottom: -20px;
  right: -25px;
}
.feed-img {
  padding: 0 65px;
}
.owl-dots {
  position: relative;
  bottom: -60px;
}
.owl-dot {
  width: 15px;
  height: 15px;
  background-color: #771d3a;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: 0 7px;
}
.owl-dot.active {
  background-color: #ab172e;
}
.lb {
  font-size: 13px;
  color: #fff;
  line-height: 13px;
  margin-top: 15px;
  width: 100%;
  display: block;
  text-align: center;
}

.footer_section {
  margin: 50px 0;
  display: block;

  text-align: center;
}

.foot-link{
   color:#fd0000;
}

